/* 페이지 내용을 가운데 정렬하는 스타일 */
body {
    background-color: #87CEEB; /* 하늘색 배경 */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0; /* 페이지 바깥 여백 제거 */
    font-family: Arial, sans-serif;
    text-align: center;
}

/* 컨테이너 스타일 */
.container {
    display: flex;
    position: fixed; /* 위치를 고정 */
    top: 0; /* 상단에 배치 */
    left: 0; /* 왼쪽에 배치 */
}

header {
    display: flex;
    flex-direction: row; /* 가로 정렬 */
    align-items: center; /* 세로 중앙 정렬 */
    width: 500px;
    margin-bottom: 20px; /* 이미지와 텍스트 사이의 간격 조정 */
}

/* 이미지 스타일 */
.club-image {
    margin-right: 10px; /* 이미지와 텍스트 사이의 간격 조정 */
    max-width: 20%;
    height: auto;
}

/* 메인 제목 스타일 */
h1 {
    font-size: 36px;
    color: #fff; /* 흰색 텍스트 */
}