<<<<<<< HEAD
HTML CSSResult Skip Results Iframe
EDIT ON
img{
    width: 100%;
}
.login {
    height: 1000px;
    width: 100%;
    background: radial-gradient(#52f6e9, #2387c5);
    position: relative;
}
.login_box {
    width: 1050px;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #fff;
    border-radius: 10px;
    box-shadow: 1px 4px 22px -8px #0004;
    display: flex;
    overflow: hidden;
}
.login_box .left{
    width: 41%;
    height: 100%;
    padding: 25px 25px;

}
.login_box .right{
    width: 59%;
    height: 100%
}
.left .top_link a {
    color: #452A5A;
    font-weight: 400;
}
.left .top_link{
    height: 20px
}
.left .contact{
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    height: 100%;
    width: 73%;
    margin: auto;
}
.left h3{
    text-align: center;
    margin-bottom: 40px;
}
.left input {
    border: none;
    width: 80%;
    margin: 15px 0px;
    border-bottom: 1px solid #4f30677d;
    padding: 7px 9px;
    width: 100%;
    overflow: hidden;
    background: transparent;
    font-weight: 600;
    font-size: 14px;
}
.left{
    background: linear-gradient(-45deg, #dcd7e0, #fff);
}
.submit {
    border: none;
    padding: 15px 70px;
    border-radius: 8px;
    display: block;
    margin: auto;
    margin-top: 120px;
    background: #2b7ca9;
    color: #fff;
    font-weight: bold;
    -webkit-box-shadow: 0px 9px 15px -11px rgb(52, 137, 183);
    -moz-box-shadow: 0px 9px 15px -11px rgba(52, 137, 183);
    box-shadow: 0px 9px 15px -11px rgba(52, 137, 183);
}

.right {
    background: linear-gradient(212.38deg, rgba(51, 211, 163, 0.67) 0%, rgba(42, 155, 229, 0.6) 100%),url(https://static.seattletimes.com/wp-content/uploads/2019/01/web-typing-ergonomics-1020x680.jpg);
    color: #ffffff;
    position: relative;
}

.right .right-text{
    height: 100%;
    position: relative;
    transform: translate(0%, 30%);
}
.right-text h2{
    display: block;
    width: 100%;
    text-align: center;
    font-size: 50px;
    font-weight: 500;
}
.right-text h5{
    display: block;
    width: 100%;
    text-align: center;
    font-size: 19px;
    font-weight: 400;
}

.right .right-inductor{
    position: absolute;
    width: 70px;
    height: 7px;
    background: #fff0;
    left: 50%;
    bottom: 70px;
    transform: translate(-50%, 0%);
}
.top_link img {
    width: 28px;
    padding-right: 7px;
    margin-top: -3px;
}

/* 카카오 로그인 버튼 스타일 */
#login-kakao-btn {
    background-color: rgba(255, 205, 0, 0.99); /* 노란색 배경색 */
    border-radius: 10px; /* 모서리 둥글게 */
    border: none;
    color: #000; /* 텍스트 색상 */
    padding: 10px 20px; /* 내용 주변의 여백 */
    font-size: 13px; /* 글꼴 크기 */
    text-decoration: none; /* 밑줄 제거 */
}

#login-kakao-btn:hover {
    background-color: #FFDD33; /* 마우스 호버 시 밝은 노란색 */
}

.right .logo-container {
    text-align: center;
}

.right .logo {
    width: 100px; /* 이미지의 너비 조정 */
    height: auto;
}
=======
body {
    background-image: url('/static/meets_logo.png'); /* 이미지 경로 설정 */
    background-repeat: no-repeat;
    background-size: 300px; /* 이미지 크기 설정 */
    background-position: center top; /* 이미지 위치 설정 */
    background-color: #749ce5;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* 화면 높이의 100% */
    margin: 0; /* 바깥 여백 제거 */
}

.login-container {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.login-container h2 {
    margin-bottom: 20px;
    font-size: 1.5em; /* 제목 크기 조정 */
}

.form-group label {
    font-weight: bold;
    margin-bottom: 5px; /* 라벨 아래 여백 추가 */
}

.form-control {
    margin-bottom: 15px; /* 입력창 아래 여백 추가 */
}

.btn-primary {
    background-color: #e5d674;
    border-color: #ffb700;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}
>>>>>>> 7b82c13b34bcb2de7e8e2c6e6df85dfa651e790e
