body {
    background-image: url('/static/meets_logo.png'); /* 이미지 경로 설정 */
    background-repeat: no-repeat;
    background-size: 300px; /* 이미지 크기 설정 */
    background-position: center top; /* 이미지 위치 설정 */
    background-color: #749ce5;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* 화면 높이의 100% */
    margin: 0; /* 바깥 여백 제거 */
}

.login-container {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.login-container h2 {
    margin-bottom: 20px;
    font-size: 1.5em; /* 제목 크기 조정 */
}

.form-group label {
    font-weight: bold;
    margin-bottom: 5px; /* 라벨 아래 여백 추가 */
}

.form-control {
    margin-bottom: 15px; /* 입력창 아래 여백 추가 */
}

.btn-primary {
    background-color: #e5d674;
    border-color: #ffb700;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}
