/* 전체 페이지의 기본 설정 */
body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

/* 모든 영역에 공통적으로 적용될 마진 및 패딩 설정 */
.header, .body-container, article, .nav-buttons, footer {
    padding: 10px;
    margin-bottom: 20px;
}

/* 헤더 영역 스타일링 */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background-color: #fff;
    z-index: 1000;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: flex-end;
}

.logout-btn, .profile-btn {
    padding: 8px 16px;
    border: none;
    border-radius: 20px; /* 옆으로 긴 둥근 모양 */
    background-color: #a3d9a5; /* 연한 초록색 배경 */
    color: #fff; /* 흰색 텍스트 */
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s; /* 호버 효과 */
    margin-right: 30px;
}

.profile-btn {
    margin-right: 30px;
}

/* --- 메인 컨테이너 설정 --- */
.body-container {
    width: 50%;
    margin: 0 auto;
    margin-top: 50px;
    padding-top: 40px;
}

/* 모든 섹션 내 입력 필드에 대한 공통 스타일링 */
article label {
    display: block;
    margin-bottom: 5px;
}

article input[type="text"], article textarea, #address-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

/* 이미지 업로드 영역 스타일링 */
.photo {
    cursor: pointer;
    width: 50%;
    height: 0;
    padding-bottom: 28.125%;
    background: #e0e0e0;
    margin: 0 auto 20px;
    position: relative;
}

.photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

/* 날짜와 시간 설정 영역 스타일링 */
.datetime-inputs > * {
    margin-right: 5px;
}

/* 맴버 영역 스타일링 */
#member-range {
    width: 80%;
    vertical-align: middle;
}

#member-count, .sixth-article label, .sixth-article .current-member-count {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

/* 내비게이션 버튼 스타일링 */
.nav-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.prev-btn, .submit-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.prev-btn {
    background-color: #ccc;
    color: white;
}

.submit-btn {
    background-color: #007BFF;
    color: white;
}

/* 푸터 영역 스타일링 */
footer {
    background-color: #707070;
    color: #fff;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content {
    width: 80%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
}

.footer-section {
    flex: 1;
    padding: 0 20px;
}

.footer-section h4 {
    font-weight: bold;
    margin-bottom: 10px;
}

.footer-section p {
    margin: 0;
    line-height: 1.5;
}

.footer-section a {
    color: #fff;
    text-decoration: none;
}

.footer-section a:hover {
    text-decoration: underline;
}
