/* 가운데 컨테이너 설정 */
#center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

/* 프로필 이미지를 동그랗게 만들고 가운데 정렬 */
.profile-image {
    border-radius: 50%;
    width: 150px; /* 이미지 크기 조절 */
    height: 150px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px; /* 이미지 아래 간격 조절 */
    margin-left: 40%;
}

.profile-image img {
    width: 100%; /* 이미지가 부모 요소에 맞게 가득 채우도록 설정 */
    height: 100%; /* 이미지가 부모 요소에 맞게 가득 채우도록 설정 */
    object-fit: cover; /* 이미지의 가로세로 비율을 유지한 채로 부모 요소에 맞추고 잘린 부분은 숨깁니다. */
}

/* 닉네임 설정 */
#nickname {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px; /* 닉네임 아래 간격 조절 */
    text-align: center; /* 텍스트를 가운데 정렬 */
    border: none; /* 테두리 제거 */
    outline: none; /* 포커스 효과 제거 */
    background: transparent; /* 배경 투명으로 설정 */
    flex: 1; /* 남은 공간을 모두 차지하도록 설정 */
    margin-right: 10px; /* 이름 입력란과 버튼 사이의 간격 조절 */
}

/* 소개글 및 위치 정보 설정 */
.details {
    display: flex;
    justify-content: space-between;
    margin: 50px 0; /* 소개글과 위치 정보 간격 조절 */
}

#introduction {
    width: 500px; /* 원하는 가로 크기로 조절 */
    height: 100px; /* 가로 크기와 동일한 높이로 설정하여 정사각형 모양으로 만듭니다 */
    border-radius: 10px; /* 모서리를 둥글게 만듭니다 */
    border: 2px solid #ccc; /* 테두리를 두껍게 만들고 회색으로 설정합니다 */
    padding: 10px; /* 텍스트와 테두리 사이의 간격을 조절합니다 */
    background-color: white; /* 배경색을 하얀색으로 설정합니다 */
    font-size: 16px; /* 글꼴 크기 설정 */
    color: #333; /* 텍스트 색상 설정 */
}
리
#locate {
    width: 500px; /* 원하는 가로 크기로 조절 */
    height: 100px; /* 가로 크기와 동일한 높이로 설정하여 정사각형 모양으로 만듭니다 */
    border-radius: 10px; /* 모서리를 둥글게 만듭니다 */
    border: 2px solid #ccc; /* 테두리를 두껍게 만들고 회색으로 설정합니다 */
    padding: 10px; /* 텍스트와 테두리 사이의 간격을 조절합니다 */
    background-color: white; /* 배경색을 하얀색으로 설정합니다 */
    font-size: 16px; /* 글꼴 크기 설정 */
    color: #333; /* 텍스트 색상 설정 */
}

label {
    margin-right: 450px;
    display: block; /* 라벨을 블록 레벨 요소로 설정하여 아래로 이동 */
    margin-bottom: 10px; /* 라벨 아래 간격 조절 */
    margin-top: 20px;
    font-size: 16px; /* 라벨의 글꼴 크기 설정 */
    font-weight: bold; /* 라벨의 텍스트 두껍게 설정 */
}

#locate {
    flex: 1;
    width: 500px;
    height: 30px;
    text-align: center;
    font-size: 16px;
}
.interests{
    display: flex; /* 가로로 나열하기 위한 스타일 추가 */
    flex-wrap: wrap; /* 넘치면 다음 줄로 넘어가도록 설정 */
    margin-bottom: 20px
}

.tag {
    display: inline-block; /* span 태그를 인라인-블록으로 설정하여 박스 형태를 만듭니다. */
    margin-right: 8px; /* 오른쪽 마진을 추가하여 span 태그 사이에 간격을 줍니다. */
    padding: 15px 20px; /* 태그 안에 텍스트에 패딩을 추가하여 더 읽기 좋게 만듭니다. */
    border: 1px solid #82ab9a; /* 연한 회색의 테두리를 추가합니다. */
    border-radius: 4px; /* 태그의 모서리를 둥글게 만듭니다. */
    background-color: rgba(173, 237, 210, 0.86);
    font-size: 1.1em; /* 글자 크기를 조정합니다. 필요에 따라 변경 가능합니다. */
    text-align: center;
    color: black;

}



/* 수정하기 버튼 위치 설정 */
#btn-update {
    background-image: url('https://cdn-icons-png.flaticon.com/128/3597/3597075.png'); /* 이미지 경로를 설정하세요 */
    background-repeat: no-repeat; /* 배경 이미지 반복 제거 */
    background-position: center; /* 배경 이미지 중앙 정렬 */
    background-color: transparent; /* 배경색 제거 */
    background-size: cover;
    max-width: 20px;
    max-height: 20px;
    border: none; /* 테두리 제거 */
    width: 20px; /* 버튼 너비 조정 */
    height: 20px; /* 버튼 높이 조정 */
    cursor: pointer; /* 커서 스타일 설정 */
    margin-right: 10px; /* 오른쪽 여백 추가 */
    text-indent: -9999px; /* 버튼 텍스트 숨김 */
}

/* 뒤로 가기 버튼 위치 설정 */
#goBackButton {
    position: absolute;
    top: 10px;
    left: 10px;
    background-image: url('https://cdn-icons-png.flaticon.com/128/1286/1286956.png'); /* 이미지 경로를 설정하세요 */
    background-repeat: no-repeat; /* 배경 이미지 반복 제거 */
    background-position: center; /* 배경 이미지 중앙 정렬 */
    background-color: transparent; /* 배경색 제거 */
    background-size: cover;
    max-width: 50px;
    max-height: 50px;
    border: none; /* 테두리 제거 */
    width: 50px; /* 버튼 너비 조정 */
    height: 50px; /* 버튼 높이 조정 */
    cursor: pointer; /* 커서 스타일 설정 */
    margin-right: 10px; /* 오른쪽 여백 추가 */
    text-indent: -9999px; /* 버튼 텍스트 숨김 */
}

/* Footer Styles */
footer {
    background-color: #707070;  /* 회색으로 설정 */
    color: #fff;
    padding: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content {
    width: 80%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
}

.footer-section {
    flex: 1;
    padding: 0 20px;
}

.footer-section h4 {
    font-weight: bold;
    margin-bottom: 10px;
}

.footer-section p {
    margin: 0;
    line-height: 1.5;
}

.footer-section a {
    color: #fff;
    text-decoration: none;
}

.footer-section a:hover {
    text-decoration: underline;
}