

.container {
    margin-left: auto;
    margin-right: auto;
    width: 80rem;
}

input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.button {
    background-color: #f2f2f2;
    color: #000 !important;
}

/* Form */

form {
    margin: 0 0 2rem 0;
}

label {
    display: block;
    font-size: 0.9rem;
    font-weight: 700;
    margin: 0 0 1rem 0;
}

/* Header */

body {
    background: radial-gradient(#52f6e9, #2387c5);
    padding-top: 8rem;
}


@media screen and (max-width: 980px) {

    body:after {
        background-attachment: scroll;
        background-position: top;
        background-size: 100%;
    }

}

#header {
    color: #a6a6a6;
    cursor: default;
    position: relative;
    text-align: center;
    z-index: 10001;
}

#header > .logo {
    margin: 0 0 4rem 0;
    padding: 0;
}

#header > .logo a {
    font-size: 4rem;
    font-weight: 700;
    color: #FFF;
    text-decoration: none;
    line-height: 1rem;
}

#header > .logo span {
    font-weight: 300;
    font-size: 1rem;
    display: block;
    color: rgba(255, 255, 255, 0.65);
}

/* Main */

#main > .inner {
    margin: 0 auto;
    width: 80rem;
    max-width: 90%;
    margin-bottom: 2rem;
    background: rgba(255, 255, 255, 0.95);
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
    border-radius: 4px;
}

.wrapper > header {
    text-align: center;
    background: #FFF;
    padding: 2rem;
    margin: 0;
}
.wrapper.style1 {
    margin-top:100px;
}

.wrapper.style2 {
    background: rgba(86, 194, 222, 0.94);
    padding: 6rem;
}

.wrapper.style2 header {
    background: #121315;
    border-radius: 4px 4px 0 0;
}

.wrapper.style2 header h2 {
    color: #FFF;
}

.wrapper.style2 header h2:after {
    background-color: rgba(255, 255, 255, 0.125);
}

.wrapper.style2 header p {
    color: rgba(255, 255, 255, 0.25);
}


/* Footer */

#footer {
    padding: 2rem 0 0.1rem 0 ;
    text-align: center;
}

#footer a {
    color: rgba(255, 255, 255, 0.75);
    display: flex;
}

#footer a:hover {
    color: #FFF;
}

.copyright {
    color: #bbb;
    font-size: 0.9rem;
    margin: 0 0 2rem 0;
    padding: 0 1rem;
    text-align: center;
}
.copyright a{
    color: white;
    text-decoration: none;
}

/* 텍스트 박스 스타일 */
input[type="text"] {
    width: 50%;
    height: 30px;
    padding: 30px; /* 세로 크기 조정 */
    margin-bottom: 10px; /* 간격 조정 */
    margin-left: 300px;
    border: none;
    border-radius: 5px;
    text-align: center;
    box-sizing: border-box; /* 여백과 패딩을 포함한 크기 지정 */
}

/* 위치 검색 버튼 스타일 */
input[type="button"] {
    margin-left: 300px; /* 위치 검색 버튼의 왼쪽 마진을 조정하여 위치를 변경 */
    color: #0f67ce;
}

select {
    width: 50%;
    height: 45px;
    margin-bottom: 30px; /* 간격 조정 */
    margin-left: 300px;
}
/* 텍스트 박스 안에 옅은 글씨로 미리 입력된 내용 스타일 */
input::placeholder {
    color: #6d6d6d;
}

label {
    display: block;
    text-align: left;
    margin-top: 15px;
    margin-bottom: 5px;
    margin-left: 300px;
    font-weight: bold;
    font-size: 18px;
}

#age {
    margin-left: 300px;
}
/* 버튼 스타일 */
.age-button {
    background-color: #fff; /* 흰색 배경 */
    color: rgba(42, 152, 222, 0.82);
    padding: 15px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease; /* 호버 효과를 위한 트랜지션 */
    margin-left: 30px; /* 버튼 간 간격 조정 */
    margin-bottom: 30px; /* 간격 조정 */
    text-align: center; /* 텍스트 가운데 정렬 */
    display: inline-block; /* 텍스트를 감싸는 인라인 블록 요소로 설정 */
    line-height: 1; /* 텍스트 수직 정렬 */
}


/* 버튼 클릭 시 활성화 스타일 */
.age-button.selected {
    background-color: rgba(86, 194, 222, 0.94);
    color: #fff; /* 흰색 텍스트 */
    text-align: center; /* 텍스트 가운데 정렬 */
}

/* 버튼 스타일 */
.topic-toggle button {
    padding: 10px 25px;
    margin-top: 15px;
    margin-left: 100px;
    background-color: #fff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center; /* 텍스트 가운데 정렬 */
    display: inline-block; /* 텍스트를 감싸는 인라인 블록 요소로 설정 */
    line-height: 1; /* 텍스트 수직 정렬 */
}

.subtopics {
    display: none;
    margin-top: 10px;
    margin-left: 100px;
}

.subtopic-button {
    padding: 10px 20px;
    margin: 5px;
    background-color: #fff;
    color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center; /* 텍스트 가운데 정렬 */
    display: inline-block; /* 텍스트를 감싸는 인라인 블록 요소로 설정 */
    line-height: 1; /* 텍스트 수직 정렬 */
}

.topic-toggle button.active-button {
    background-color: rgba(236, 202, 237, 0.94);
    color: #fff;
    text-align: center; /* 텍스트 가운데 정렬 */

}

.subtopics button.active-button {
    background-color: rgba(229, 176, 232, 0.94);
    color: #fff; /* 흰색 텍스트 */
    text-align: center; /* 텍스트 가운데 정렬 */
}

/* 텍스트 박스 스타일링 */
textarea#description {
    width: 50%;
    height: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left: 300px;

}

/* 파일 업로드 버튼 스타일링 */
input[type="file"]#image {
    width: 50%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: 300px;
}

label {
    font-weight: bold;
    margin-top: 10px; /* 라벨 위 간격 조정 (선택사항) */
}

#next-btn3 {
    border: none;
    padding: 15px 70px;
    border-radius: 8px;
    margin-top: 20px;
    margin-bottom: 40px;
    background: #ffffff;
    color: #fff;
    font-weight: bold;
    text-align: center; /* 텍스트 가운데 정렬 */
    display: inline-block; /* 텍스트를 감싸는 인라인 블록 요소로 설정 */
    line-height: 1; /* 텍스트 수직 정렬 */
}


label[for="clubname"] {
    display: block;
    margin-top: 20px; /* 문구를 아래로 이동 */
    font-weight: bold;
    font-size: 18px;
}

