/* ===== 기본 설정 ===== */
body {
    font-size: 14px; /* 기본 폰트 크기 설정 */
}

/* ===== 메인 컨테이너 설정 ===== */
.body-container {
    width: 50%;
    margin: 0 auto;
    padding-top: 40px;
}

/* ===== 헤더 설정 ===== */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

.logout-btn, .profile-btn {
    padding: 8px 16px;
    border: none;
    border-radius: 20px; /* 옆으로 긴 둥근 모양 */
    background-color: #a3d9a5; /* 연한 초록색 배경 */
    color: #fff; /* 흰색 텍스트 */
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s; /* 호버 효과 */
    margin-right: 30px;
}

.profile-btn {
    margin-right: 30px;
}

/* 로그아웃 버튼 스타일 */
.logout-btn:hover {
    background-color: #77bf78; /* 호버 시 더 진한 초록색 */
}

/* 내 프로필 버튼 스타일 */
.profile-btn:hover {
    background-color: #77bf78; /* 호버 시 더 진한 초록색 */
}

/* ===== 섹션 헤더 설정 ===== */
.section-header {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}


.nav-prompt {
    position: fixed;
    right: 10%;
    top: 20%;
    text-align: center;
    flex-direction: column;  /* 자식 요소를 수직으로 배열 */
    display: flex;  /* Flexbox를 사용 */
    align-items: center;  /* 수평 가운데 정렬 */
    justify-content: center;  /* 수직 가운데 정렬 */
    font-family: 'Nanum Myeongjo', serif;
    transform: translateY(-50%); /* 화살표의 중앙에 위치하도록 조정 */
}

.floating-arrow {
    font-size: 24px;
    animation: floatArrow 1s infinite alternate;
    color: #6c757d;
    margin-bottom: 20px;
}

.create-group-btn {
    display: block;
    padding: 10px 20px;
    font-size: 16px;
    color: #006400;
    background-color: #98FB98;
    border: none;
    border-radius: 50px;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.1), inset 0px 0px 10px rgba(0,0,0,0.1);
    transition: transform 0.2s, background-color 0.3s;
    text-align: center;
    cursor: pointer;
}

.create-group-btn:hover {
    background-color: #7CCD7C;
    transform: translateY(-3px);
    box-shadow: 2px 2px 8px rgba(0,0,0,0.15), inset 0px 0px 8px rgba(0,0,0,0.15);
}

.create-group-btn:active {
    background-color: #50A050;
    transform: translateY(1px);
    box-shadow: 1px 1px 5px rgba(0,0,0,0.2), inset 0px 0px 5px rgba(0,0,0,0.2);
}

@keyframes floatArrow {
    0% { transform: translateY(0); }
    100% { transform: translateY(10px); }
}



/* ===== 섹션 내용 설정 ===== */
.section-article {
    margin-top: 20px;
}

/* ===== 하위 주제 설정 ===== */
.subtopics {
    display: none; /* 기본적으로 하위 주제는 숨겨진 상태로 설정. JavaScript로 제어 */
    flex-wrap: wrap;
    gap: 12.5px;
}

.subtopics.active {
    display: flex;
}

/* ===== 버튼 스타일 설정 ===== */
.section-header button, .subtopic-button {
    flex: 0 0 calc(20% - 10px);
    box-sizing: border-box;
    padding: 5px;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 5px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.5s, color 0.5s, border-color 0.5s, box-shadow 0.5s;
}

/* 헤더 버튼 스타일 */
.section-header button {
    background-color: #FFEBEE;
}

.section-header button:hover {
    background-color: #FFCDD2;
    border-color: #EF9A9A;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.section-header button.selected-button {
    color: #D32F2F;
}

/* 서브토픽 버튼 스타일 */
.subtopic-button {
    background-color: #E8EAF6;
}

.subtopic-button:hover {
    background-color: #C5CAE9;
    border-color: #9FA8DA;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.subtopic-button.selected-button {
    background-color: #BBDEFB;
    border-color: #90CAF9;
    color: #303F9F;
}



/* ===== 주제별 카드 설정 ===== */


.major-interest, .minor-interest {
    background-color: #e0e0e0;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
}

.second-section-article, .third-section-article, .fourth-section-article, .fifth-section-article{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 9.2%;
}

.cards-container {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 9.2%;
}

.card {
    width: 27%;
    display: flex;
    flex-direction: column; /* 세로로 요소들을 정렬 */
    height: 420px; /* 높이를 자동으로 조절 */
    align-items: center; /* 센터 정렬 */
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
}

.card img {
    width: 95%; /* 이미지의 너비를 90%로 설정 */
    height: 50%; /* 이미지의 높이를 .card의 40%로 설정 */
    aspect-ratio: 1;
    margin-top: 10px; /* 이미지 상단 간격 추가 */
    margin-left: 0; /* margin-left 제거 */
    margin-bottom: 10px; /* 이미지와 컨텐츠 간의 간격 추가 */
    background-color: black;
    object-fit: cover; /* 이미지가 너비/높이를 초과할 경우 잘라내기 */
    object-position: center; /* 이미지 중앙 정렬 */
    border-radius: 10px;
}


.card-content {
    width: 100%; /* 컨텐츠의 너비 조절 */
    margin-left: 10px;
    max-height: none; /* 제한을 풀어줍니다. */
}

.title {
    margin-top: 10px; /* 이 값을 조절하여 원하는 간격을 얻을 수 있습니다. */
}

.title, .intro {
    margin-left: 10px;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.activity-score-icon, .location-icon, .member-count-icon {
    color: gray;
}

.title {
    font-weight: bold;
    margin-bottom: 5px;
}

.topics, .activity-score-div, .location-div, .member-count-div {
    display: flex;
    justify-content: flex-start;
    margin-right: 10px;
}

.activity-score-div p, .location-div p, .member-count-div p {
    margin: 5px; /* p 태그의 margin을 초기화합니다. */
}

.tag1 {
    display: inline-block; /* span 태그를 인라인-블록으로 설정하여 박스 형태를 만듭니다. */
    margin-top: 2px;
    margin-right: 8px; /* 오른쪽 마진을 추가하여 span 태그 사이에 간격을 줍니다. */
    padding: 4px 8px; /* 태그 안에 텍스트에 패딩을 추가하여 더 읽기 좋게 만듭니다. */
    border: 1px solid #cdfaaf; /* 연한 회색의 테두리를 추가합니다. */
    border-radius: 4px; /* 태그의 모서리를 둥글게 만듭니다. */
    background-color: #defdc5; /* 연한 회색의 배경색을 추가합니다. */
    font-size: 0.9em; /* 글자 크기를 조정합니다. 필요에 따라 변경 가능합니다. */
}

.tag2 {
    display: inline-block; /* span 태그를 인라인-블록으로 설정하여 박스 형태를 만듭니다. */
    margin-top: 2px;
    margin-right: 8px; /* 오른쪽 마진을 추가하여 span 태그 사이에 간격을 줍니다. */
    padding: 4px 8px; /* 태그 안에 텍스트에 패딩을 추가하여 더 읽기 좋게 만듭니다. */
    border: 1px solid #75cde6; /* 연한 회색의 테두리를 추가합니다. */
    border-radius: 4px; /* 태그의 모서리를 둥글게 만듭니다. */
    background-color: #a0def1; /* 연한 회색의 배경색을 추가합니다. */
    font-size: 0.9em; /* 글자 크기를 조정합니다. 필요에 따라 변경 가능합니다. */
}


.major-interest, .minor-interest {
    display: inline-block;
    margin-right: 8px;
    padding: 4px 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f5f5f5;
    font-size: 1.3em;
}

/* 슬라이더 컨테이너를 가운데에 정렬 */
.slider-container {
    width: 100%;
    text-align: center;
    justify-content: center; /* 가로축에서 중앙 정렬 */
    align-items: center;     /* 세로축에서 중앙 정렬 */
    margin-bottom: 5%;     /* 슬라이더와 카드 사이의 간격 */
    margin-top: 5%;
}

/* 슬라이더의 길이 */
#distance-slider {
    width: 70%;
    margin-right: 1%;
    margin-top: 1%;
}

/* 슬라이더 스타일링 */
.range-radius {
    display: flex;
    align-items: center;  /* 세로축에서 중앙 정렬 */
    justify-content: center; /* 가로축에서 중앙 정렬 */
}

input[type="range"]::-webkit-slider-thumb {
    cursor: pointer;
}


/* 비회원 메시지 */
.unauthenticated-message {
    display: none; /* 기본적으로 숨겨져 있음 */
    width: 100%;
    height: 150px;
    background-image: radial-gradient(ellipse at center, rgba(128, 128, 128, 0.2), rgba(128, 128, 128, 0));
    z-index: 100; /* 다른 요소 위에 표시 */
    text-align: center;
    font-size: 20px;
    color: #333;

    /* Flexbox를 사용하여 내용 중앙 정렬 */
    justify-content: center;
    align-items: center;
}




/* ================================= footer ================================= */
/* Footer Styles */
footer {
    margin-top: 5%;
    background-color: #707070;  /* 회색으로 설정 */
    color: #fff;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content {
    width: 80%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
}

.footer-section {
    flex: 1;
    padding: 0 20px;
}

.footer-section h4 {
    font-weight: bold;
    margin-bottom: 10px;
}

.footer-section p {
    margin: 0;
    line-height: 1.5;
}

.footer-section a {
    color: #fff;
    text-decoration: none;
}

.footer-section a:hover {
    text-decoration: underline;
}

/* ================================= footer ================================= */




