body {
    font-family: Arial, sans-serif;
    padding-top: 50px;
    height: 100vh;
    background-color: #f9f9f9;
    margin: 0;
}

.container {
    width: 50%;
    margin: 0 auto;
    border-bottom: 1px solid #ccc;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.title-group {
    display: flex;
    align-items: center;
}

.title-group h1 {
    margin-right: 10px;
}

.input-section {
    min-height: calc(100vh - 270px); /* 페이지 아래 여백을 고려하여 최소 높이 설정 */
    flex-direction: column;
    align-items: center; /* 수직 방향 중앙 정렬 */
    justify-content: center; /* 수평 방향 중앙 정렬 */
}

.input-section section {
    margin-bottom: 10px; /* 각 섹션 아래 여백 */
    text-align: center; /* 텍스트 중앙 정렬 */
}

/* === 입력칸 === */
.current, .new, .check {
    width: 20%;
    margin: 20px auto; /* 중앙 정렬 및 상하 여백 설정 */
    font-size: 1em; /* 글자 크기 설정, 필요에 따라 조절 가능 */
    line-height: 1.6; /* 줄 간격 설정 */
    text-align: justify; /* 양쪽 정렬 설정, 원하시면 변경 가능 */
    white-space: pre-line; /* 줄바꿈을 위한 white-space 설정 */
    position: relative; /* 상대 위치 설정 */
}

.error-message {
    position: absolute;
    color: red; /* 원하는 색상으로 변경 가능 */
    margin-top: 30px; /* 원하는 위치로 조절 가능 */
    margin-left: 10px;
}

/* 버튼 그룹 */
.btn-group {
    margin-top: 50px;
    text-align: center; /* 버튼 그룹을 오른쪽으로 정렬 */
}

/* 확인 버튼 스타일 */
#btn-save {
    background-color: darkgray;
    color: #fff; /* 흰색 텍스트 */
    padding: 15px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* 호버 효과를 위한 트랜지션 */
    position: relative;
    margin-left: 10px; /* 버튼 사이 간격 조정 */
}

/* 뒤로 버튼 스타일 */
#goBackButton {
    background-color: darkgray;
    color: #fff; /* 흰색 텍스트 */
    padding: 15px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* 호버 효과를 위한 트랜지션 */
    position: relative;
}

/* 버튼 호버 효과 */
#goBackButton:hover, #btn-save:hover {
    background-color: black; /* 호버 시 색 변경 */
}

/* Footer Styles */
footer {
    background-color: #707070;  /* 회색으로 설정 */
    color: #fff;
    padding: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content {
    width: 80%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
}

.footer-section {
    flex: 1;
    padding: 0 20px;
}

.footer-section h4 {
    font-weight: bold;
    margin-bottom: 10px;
}

.footer-section p {
    margin: 0;
    line-height: 1.5;
}

.footer-section a {
    color: #fff;
    text-decoration: none;
}

.footer-section a:hover {
    text-decoration: underline;
}