<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title> 1:1문의 목록 </title>

    <!--Viewport-->
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum=scale=1.0, minimum=scale=1.0"
          name="viewport">

    <!--(IE10)-->
    <meta content="IE=edge" http-equiv="X-UA-Compatible">

    <!-- Normalize -->
    <link href='https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css' rel="stylesheet">

    <!--load CSS-->
    <link href="/css/all-inquiry.css" rel="stylesheet">
</head>

<body>
<div class="container">
    <header>
        <div class="title-group">
            <h1>1:1문의 목록</h1>
        </div>
    </header>
</div>
<section class="inquiry-body">
    <!-- 문의 목록 -->
    <table class="all-inquiry">
        <thead>
        <tr>
            <th>제목</th>
            <th>답변여부</th>
            <th>작성일</th>
        </tr>
        </thead>
        <tbody>
        <!-- Thymeleaf를 이용하여 반복 출력 -->
        <tr th:each="inquiry, rowStat : ${inquiryDtos}">
            <td>
                <!-- 제목을 클릭하면 상세 페이지로 이동하도록 링크 추가 -->
                <a th:href="'/api/inquiry/' + ${inquiry.inquiryId}" th:text="${inquiry.title}"></a>
            </td>
            <td th:if="${inquiry.answer != null}">답변대기</td>
            <td th:unless="${inquiry.answer != null}">답변대기</td>
            <td th:text="${#temporals.format(inquiry.createdAt, 'yyyy-MM-dd HH:mm:ss')}"></td>
        </tr>
        </tbody>
    </table>
    <!-- 버튼 -->
    <section class="btn-group">
        <button class="btn btn-primary" id="goBackButton" onclick="back()" type="button">뒤로</button>
        <button class="btn btn-primary" id="btn-main" type="main">메인</button>
    </section>
</section>
<!-- Footer Section -->
<footer>
    <div class="footer-content">
        <div class="footer-section">
            <h4>주관</h4>
            <p>스파르타 코딩클럽</p>
        </div>
        <div class="footer-section">
            <h4>팀</h4>
            <p>떡잎마을 방범대</p>
        </div>
        <div class="footer-section">
            <h4>멤버</h4>
            <p>오세창, 고은비, 김동환, 이경원</p>
        </div>
        <div class="footer-section">
            <h4>문의 메일</h4>
            <p><a href="mailto:tpckd0533@naver.com">tpckd0533@naver.com</a></p>
        </div>
    </div>
</footer>

<script>
    // 뒤로 버튼
    function back() {
        window.history.back();
    }

    // 메인 버튼
    var btnMain = document.getElementById('btn-main');
    btnMain.addEventListener('click', main);
    function main() {
        window.location.href = "http://localhost:8081/main";
    }
</script>
</body>
</html>