<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>문의 상세 정보</title>
    <!--Viewport-->
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum=scale=1.0, minimum=scale=1.0"
          name="viewport">

    <!--(IE10)-->
    <meta content="IE=edge" http-equiv="X-UA-Compatible">

    <!-- Normalize -->
    <link href='https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css' rel="stylesheet">

    <!--load CSS-->
    <link href="/css/inquiry-detail.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <header>
        <div class="title-group">
            <h1>문의 상세 정보</h1>
        </div>
        <div class="btn-delete">
            <button class="btn btn-primary" id="btn-delete" onclick="openModal()" type="delete">삭제</button>
        </div>
        <!-- 모달 -->
        <div id="deleteModal" class="modal" style="display:none">
            <div class="modal-content">
                <span class="close" onclick="closeModal()">&times;</span>
                <p>정말로 삭제하시겠습니까?</p>
                <button onclick="closeModal()">취소</button>
                <button onclick="deleteInquiry()">확인</button>
            </div>
        </div>
    </header>
</div>
<!-- section : 제목/내용/문의유형 -->
<section class="inquiry-body">
    <!-- section : 문의 유형 -->
    <section class="inquiry-type">
        <label class="form-label" for="inquiry-type">문의 유형</label>
        <input class="form-control" id="inquiry-type" th:value="${inquiryDto.inquiryType}"  readonly="readonly" required>
    </section>
    <!-- article : 제목/내용 -->
    <article class="inquiry-title">
        <div class="title">
            <input id="title" name="title" placeholder="제목" th:value="${inquiryDto.title}" type="text" readonly="readonly">
        </div>
    </article>
    <article class="description">
        <textarea id="description" name="description" th:text="${inquiryDto.description}" type="text" readonly="readonly"></textarea>
    </article>
    <!-- section : 미디어 파일 -->
    <section class="preview-group">
        <img alt="파일 미리보기" id="image-preview" src="/meets_logo.png" style="max-width: 100%; max-height: 200px;">
        <input class="form-control" id="file" name="file" type="file">
    </section>
    <!-- section : 문의 답변 -->
    <section class="inquiry-answer">
        <input id="answer" name="answer" placeholder="답변" th:text="${inquiryDto.answer}" type="text" readonly="readonly">
    </section>
    <!-- 버튼 -->
    <section class="btn-group">
        <button class="btn btn-primary" id="goBackButton" onclick="back()" type="button">뒤로</button>
        <button class="btn btn-primary" id="btn-update" type="update">수정</button>
    </section>
</section>

<!-- Footer Section -->
<footer>
    <div class="footer-content">
        <div class="footer-section">
            <h4>주관</h4>
            <p>스파르타 코딩클럽</p>
        </div>
        <div class="footer-section">
            <h4>팀</h4>
            <p>떡잎마을 방범대</p>
        </div>
        <div class="footer-section">
            <h4>멤버</h4>
            <p>오세창, 고은비, 김동환, 이경원</p>
        </div>
        <div class="footer-section">
            <h4>문의 메일</h4>
            <p><a href="mailto:tpckd0533@naver.com">tpckd0533@naver.com</a></p>
        </div>
    </div>
</footer>
<!--load JS-->
<script src="/js/inquiry-detail.js"></script>
</body>
</html>