<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> 모임 수정 페이지 </title>

    <!--사이트 기본설정-->
    <meta name="description" content="모임 상세 페이지">
    <meta name="keywords" content="모임">
    <meta name="author" content="오세창">

    <!--Viewport-->
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum=scale=1.0, minimum=scale=1.0">

    <!--(IE10)-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Normalize -->
    <link rel="stylesheet" href='https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css'>

    <!--load CSS-->
    <link rel="stylesheet" href="../static/css/meeting-update.css"> <!-- 서버 돌릴 떄는 ../static 빼야됨 -->
</head>
<body>

<!-- Header -->
<div class="header">
    <button class="logout-btn">로그아웃</button>
    <button class="profile-btn">내 프로필</button>
</div>



</body>
</html>